<p id="notice"><%= notice %></p>

<div class="home-image-one">
<h1>Waiting for a bundle of joy!</h1>
</div>

<div class="home-image-two">
<h1>Sharing your special experience with other people!</h1>
</div>


